*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
}

.

.sidebar{
    width:20%;
    height: auto;
    min-height: 100vh;
    background-color: #002353;
    padding: 20px;
    color: white;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 3px;
    font-size:xx-large;
    background-color: #033f8a;
    border-radius: 8px;
}
.logo i{
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.sidebar ul{
    list-style: none;
    width: 100%;
}

.sidebar ul li{
    padding: 12px 15px;
    width:100%;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    width: 100%;
}

.sidebar ul li:hover{
    background: #033f8a;
    transform: translateX(5px);
    transition: 0.2s;

}
.settings li{
    margin-top: 20px;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.settings li:hover {
    background-color: #033f8a;
    transform: translateX(5px);
}
.main{
    width: 80%;
    height: 100vh;;
    min-height: 100vh;
    margin-left: 20%;
    overflow-y: auto;
    padding: 20px;
    background-color:#e3edfb;
    background-image: url("liberary1.jpg");
    background-size: cover;
}
.topbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.logo{
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 2px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 12px;
    border-radius: 10px;
    color: #fff;
}
.logo i{
    margin-right: 8px;
}

.welcome{
    /* background-color: rgb(2, 7, 45); */
    padding: 15px 20px;
    color: white;
    border-radius: 10px;
    /* text-align: ; */
    font-size: 40px;
    padding-left: 38%;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
}

.Books{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin: 25px 0;
    gap: 25px;
}

.book{
    text-align: center;
    /* width: 30%; */
    padding: 20px;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.20) ;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    /* box-shadow: 0 4px 15px rgba(0,0,0,0.4); */
}

.book h2{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    /* margin-bottom: 8px; */
}

.book p{
    font-size: 15px;
    color: #dfe6ff;
    margin: 5px 0;
}

.book:hover{
    box-shadow: 0px 4px 15px rgb(92, 133, 243);
    background-color: #01050a;
}

.books-section{
    padding: 30px;
    /* display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220, 1fr)); */
}

.bookdetail{
    width: 400px;
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 2px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 12px;
    border-radius: 10px;
    color: #fff;
}

.books-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    margin: 25px 0;
}

.books-card{
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.20) ;
}

.books-card:hover{
    background-color: #0e1744b7;
    color: white;
    transition: 0.3s;
    box-shadow:0px 4px 15px rgb(92, 133, 243); ;
}

.student-section{
    padding:30px;
}

.studentdetail{
    width: 400px;
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 2px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 12px;
    border-radius: 10px;
    color: #fff;
}

.student-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    margin: 25px 0;
}

.student{
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.20) ;
}

.student p{
    font-size: 25px;
}
.student:hover{
    background-color: #0e1744b7;
    color: white;
    transition: 0.3s;
    box-shadow:0px 4px 15px rgb(92, 133, 243); ;
}
