*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}

.container{
    display: flex;
}

.sidebar{
    width: 20%;
    height: auto;
    min-height: 100vh;
    background-color: #002353;
    padding:20px;
    color: white;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 3px;
    font-size:xx-large;
    background-color: #033f8a;
    border-radius: 8px;
}
.logo i{
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.sidebar ul{
    list-style: none;
    width: 100%;
}

.sidebar ul li{
    padding: 12px 15px;
    width:100%;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    width: 100%;
}

.sidebar ul li:hover{
    background: #033f8a;
    transform: translateX(5px);
    transition: 0.2s;

}

.settings li{
    margin-top: 20px;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.settings li:hover {
    background-color: #033f8a;
    transform: translateX(5px);
}

.main {
    width: 80%;
    height: 100vh;
    min-height: 100vh;
    margin-left: 20%;
    overflow-y: auto;
    padding: 20px;
    background-color: #e3edfb;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.user{
    background-color:#002353 ;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.welcome{
    background: white;
    /* margin-top: 10px; */
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.cards{
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.card{
    text-align: center;
    width: 30%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
    cursor: pointer;
}

.card:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    background-color: #e0edff; 
}
.section-title{
    margin: 20px 0;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.course-card{
    text-align: center;
    background-color: white;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.course-card:hover{
    background-color: #e0edff;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
} 


.books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.book{
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    cursor: pointer;
}
.book:hover{
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    background-color: #e0edff;
}
